<!doctype html>
<html ng-app="colorApp">
<head>
  <meta charset="utf-8">
  <title>Angular CRM</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>

</head>
<body>

  <body ng-controller='SearchController'>
    <input type='text' ng-model='query'>
    <p ng-show="query">Search result for {{query}}</p>
    <ul>
      <li ng-repeat="color in colors | filter:query" ng-style="{color:color.value}">{{color.name}}</li>
    </ul>
    <h4>+ Add Colors</h4>
    <form name="addForm" ng-submit="addColor(colorName, colorValue)" novalidate>
      <input type='text' placeholder='Color Name' ng-model='colorName' required ng-minlength=3>
      <input type='text' placeholder='Color Value' ng-model='colorValue' required ng-pattern="/^(#)?([0-9a-fA-F]{3})([0-9a-fA-F]{3})?$">
      <button type="submit" ng-disabled='addForm.$invalid'>Add</button>
    </form>

  </body>

</body>
</html>
